{% if use_syslog %}
log.syslog = true
log.syslog.formatter = json
{% endif %}

{% if rabbitmq_use_ssl %}
listeners.tcp = none

listeners.ssl.default = {{ rabbitmq_port }}
ssl_options.cacertfile = {{ ca_crt_path }}
ssl_options.certfile   = {{ ssl_crt_path }}
ssl_options.keyfile    = {{ ssl_key_path }}
ssl_options.verify     = verify_peer

management.ssl.port = {{ rabbitmq_api_port }} 
management.ssl.cacertfile = {{ ca_crt_path }} 
management.ssl.certfile = {{ ssl_crt_path }} 
management.ssl.keyfile = {{ ssl_key_path }} 
management.ssl.password = {{ rabbitmq_api_password }} 
{% endif %}
