{% if use_syslog %}
[supervisord]
logfile = syslog
{% endif %}

[program:{{ celery_application_name }}]
command = {{ celery_scripts_dir }}/{{ celery_application_name }}_start

autostart = true
autorestart = true

user = root

stdout_logfile = {% 'syslog' if use_syslog else celery_log_file %}
redirect_stderr = true
