{% if use_syslog %}
[supervisord]
logfile = syslog
{% endif %}

[program:{{ application_name }}]
command = {{ virtualenv_path }}/bin/gunicorn_start
user = {{ gunicorn_user }}
stdout_logfile = {{ 'syslog' if use_syslog else celery_log_file }}
redirect_stderr = true
