[supervisord]
{% if use_syslog %}
logfile = syslog
{% else %}
logfile_maxbytes = {{ gunicorn_log_size }}
logfile_backups = {{ gunicorn_log_backups }}
loglevel = {{ gunicorn_loglevel }}
{% endif %}


[program:{{ application_name }}]
command = {{ virtualenv_path }}/bin/gunicorn_start
user = {{ gunicorn_user }}
stdout_logfile = {{ 'syslog' if use_syslog else application_log_file }}
redirect_stderr = true
